{% extends 'SosBundle::layout.html.twig' %}

{% block sos_body %}

		<div id="poste_hotellerie" class="col-xs-12 sos-form">
		<h3 class="title-heading">{{ app.user.prenom|capitalize }}, quel type de contrat recherches tu ?</h3>
		<br>
		<ul class="col-lg-8 col-lg-offset-2">
			<form class="informations" action="{{ path('informations_contrat') }}">
			{% for contrat in contrats %}

				<li class="
			        	{% if contrats|length == 5 %}
			        		col-sm-2 {% if loop.first %} col-sm-offset-1 {% endif %}
						{% else %}
							col-sm-{{ 12 / contrats|length }}
			        	{% endif %} text-center">
					<input type="checkbox" class="main-input" name="contrat" value="{{ contrat.id }}">&nbsp;{{ contrat.libelle }}
					<br>
					<div class="text-left">
						{% for duree in contrat.duree %}
							<input type="checkbox" class="sub-input" name="duree" value="{{ duree.id }}">&nbsp;{{ duree.libelle }} <br>
						{% endfor %}
					</div>
				</li>

			{% endfor %}
			<div class="clearfix"></div>
			<br><br><br>
			<button type="submit" class="btn btn-soshcr text-center">Suivant</button>
			</form>
		</ul>
	

   	<div class="clearfix spacer"></div>
</div>

{% endblock %}